body {
  font-family: "Roboto", "Raleway", sans-serif;
}
a {
  text-decoration: none;
}

.txt-bl {
  color: #2196f3;
}
.webstudio {
  color: black;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  text-decoration: none;
}

li {
  list-style-type: none;
}
.menu {
  display: inline-flex;
  justify-content: space-between;
  flex-basis: auto;
}

h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
}
h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
}
h3 {
  color: #212121;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.header-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.header-link a {
  color: #212121;
}

.header-link a:hover {
  color: #2196f3;
}

.header-mail {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.header-mail a {
  color: rgba(117, 117, 117, 1);
}
.header-mail a:hover {
  color: #2196f3;
}
.header-phone {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.header-phone a {
  color: rgba(117, 117, 117, 1);
}
.header-phone a:hover {
  color: #2196f3;
}
.main-header-sections {
  background-color: #2f303a;
  color: white;
  text-transform: uppercase;
  font-size: 44px;
}
.btn-blue {
  color: white;
  background-color: #2196f3;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
}
.about {
  color: #757575;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
.team-employee {
  color: black;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.team-position {
  color: #757575;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}
.footer-sections {
  background-color: #2f303a;
}
.footer-adress {
  color: white;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.footer-mail {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
.footer-phone {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.white {
  color: white;
}
/* Portfilio*/
h4 {
  color: #212121;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
}
.portfolio-about {
  color: #757575;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.btn-port {
  color: #212121;
  background-color: #f5f4fa;
  font-family: roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}
.btn-port:hover {
  color: white;
  background-color: #2196f3;
}
